{% extends "base_generic.html" %}

{% block content %}
    <h1>Local Library</h1>
    <p>Welcome to Local Library, a website developed by
        <em>Ghost Aram aka Balck J</em>!
    </p>
    <h2>Dynamic Content</h2>
    <p>The Library has the following record counts:</p>
    <ul aria-atomic="false" aria-live="polite">
        <li><strong>Books:</strong> {{ num_of_books }}</li>
        <li><strong>Copies: </strong> {{ num_of_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_of_authors }}</li>
    </ul>
{% endblock %}